<div class="pageContent">
  <h2 style="text-align: left; margin-left:3rem;">Edit Book</h2>
  <form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <button style="margin-left:3rem; margin-top:30px;"><a href="/books">Cancel</a></button>
    <button type="submit">Update</button>
  </form>

</div>