<div class="pageContent">

  <h2 style="text-align: left; margin-left:3rem;">New Book</h2>
      <form action="/books" method="POST">
        <%- include('_form_fields') %>
        <button style="margin-left:3rem; margin-top:30px;"><a href="/books">Cancel</a></button>
        <button type="submit">Create</button>
      </form>
  

</div>
