<header>
    <div class="pageTitle">
        <a href="/">Nodebrary</a>
    </div>
    <div class="allLinks">
        <div class="navLinks">
            <a href="/authors">Authors</a>
        </div>
        <div class="navLinks">
            <a href="/authors/new">Add Author</a>
        </div>
        <div class="navLinks">
            <a href="/books">Books</a>
        </div>
        <div class="navLinks">
            <a href="/books/new">Add Book</a>
        </div>
    </div>
    
</header>