<div class="pageContent">
    <h2>Recently added books</h2>

    <div class="allBooks">
        <% books.forEach(book => { %>
            <div class="bookLink">
                <a href="/books/<%= book.id %>">
                    <img src="<%= book.coverImagePath %>">
                </a>
            </div>
        <% }) %>
    </div>
</div>
