<div class="pageContent">
    <h2>New Author</h2>

    <div class="pageInnerContent">
        <form action="/authors" method="POST">
            <%- include('_form_fields') %></br>
            <button type="submit">Create</button>
            <button><a href="/authors">Cancel</a></button>
            
        </form>
    </div>
    
</div>
